<div class= "text-center mt-5 mb-5" >
<h1><%= @game.name %> Statistics  </h1>
</div>
<div>
<div class="library-games-podium">
  <h2 class="pt-4 pb-4">Podium</h2>
    <div class="podium-place">
      <div class="place">
        <%= image_tag("Library_Games_Show/second.png", style: "height:100px; margin-bottom:20px; margin-top:20px;") %>
        <% if @top_3_winners.second.player_type == "User"%>
          <%= image_tag @top_3_winners.second.player.avatar_url, class: "avatar podium-pic" %>
        <% else %>
          <div class= " podium-pic" >
            <%= @top_3_winners.second.username[0].capitalize %>
          </div>
        <% end %>
      </div>
      <div class="place">
        <%= image_tag("Library_Games_Show/first.png", style: "height:150px; margin-bottom:20px; margin-top:20px;") %>
        <% if @top_3_winners.first.player_type == "User"%>
          <%= image_tag @top_3_winners.first.player.avatar_url, class: "avatar podium-pic" %>
        <% else %>
          <div class= " podium-pic" >
            <%= @top_3_winners.first.username[0].capitalize %>
          </div>
        <% end %>
      </div>
      <div class="place">
        <%= image_tag("Library_Games_Show/third.png", style: "height:50px; margin-bottom:20px; margin-top:20px;") %>
        <% if @top_3_winners.third.player_type == "User"%>
          <%= image_tag @top_3_winners.third.player.avatar_url, class: "avatar podium-pic" %>
        <% else %>
          <div class= " podium-pic">
            <%= @top_3_winners.third.username[0].capitalize %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="library-games-stats">
  <h2 class="pt-4 pb-4">My statistics</h2>
    <div class="statistics">
      <div class="statistics-picto">

        <div class ="statistic-item">
          <%= image_tag("Library_Games_Show/total-duration.png", style: "height:100px; margin-bottom:20px; margin-top:20px;") %>
           <p class= "statistic_num"> <strong> <%= duration_in_words(@total_duration) %> </strong> </p>
          <p class="statistic-title mb-0" >Total duration of the game session</p>
        </div>

        <div class ="statistic-item">
          <%= image_tag("Library_Games_Show/average-duration.png", style: "height:100px; margin-bottom:20px; margin-top:20px;") %>
          <p class= "statistic_num"> <strong> <%= duration_in_words(@average_duration) %> </strong> </p>
          <p class="statistic-title mb-0">Average game session time</p>
        </div>

        <div class ="statistic-item">
          <%= image_tag("Library_Games_Show/winner.png", style: "height:100px; margin-bottom:20px; margin-top:20px;") %>
            <p class= "statistic_num"> <strong> <%= @victories_count %> </strong> </p>
          <p class="statistic-title mb-0" >Victories</p>
        </div>

        <div class ="statistic-item">
          <%= image_tag("Library_Games_Show/game-sessions-month.png", style: "height:100px; margin-bottom:20px; margin-top:20px;") %>
            <p class= "statistic_num"> <strong> <%= @game_sessions__count_in_month %> </strong> </p>
          <p class="statistic-title mb-0"> Games sessions in the month</p>
        </div>

        <div class ="statistic-item">
          <%= image_tag("Library_Games_Show/game-sessions-year.png", style: "height:100px; margin-bottom:20px; margin-top:20px;") %>
            <p class= "statistic_num"> <strong> <%= @game_sessions__count_in_year %> </strong> </p>
          <p class="statistic-title mb-0">Game sessions in the year</p>
        </div>
      </div>
    </div>
  </div>
</div>


<h1 class= "text-center mt-5 mb-5">History of my game sessions</h1>

<div data-toggle="collapse" href="#collapseMyStatistics" role="button" aria-expanded="true" aria-controls="collapseMyStatistics">
  <% @game_sessions.each do |game_session| %>
  <div class= "container mt-1">
    <div class="stat-head">
      <div class="date">
        <h5><%= game_session.date %></h5>
      </div>
      <div class= "d-flex align-items-center ">
      <i class="fas fa-users"></i>

        <% game_session.game_session_players.each do |game_session_player| %>
          <div class="players">
             <%= game_session_player.username %>
          </div>
        <% end %>
      </div>
      <div class="duration d-flex align-items-center">
        <i class="far fa-clock"></i>
        <h5 class = "m-0 ml-2"><%= game_session.duration %></h5>
      </div>
    </div>
    <div class="game-session-players collapse" id="collapseMyStatistics">
      <div class="game-stats-container">
        <% game_session.game_session_players.each do |game_session_player| %>
          <div class="game-stat">
            <ul>
              <li>
                <div class="game-players row">
                  <div class="player col-2 ">
                  <% if game_session_player.winner == true %>
                    <%= image_tag("Library_Games_Show/winner-icon.png") %>
                    <% end %>
                  </div>
                  <div class="username col-2">
                    <%= game_session_player.username  %>
                  </div>
                  <div class="score col-2">
                    <%= game_session_player.score  %>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        <% end %>
      </div>
        <p class= "comment col-6"><%= game_session.comment %></p>
    </div>
  </div>
 </div>
  <% end %>
</div>
<div class= "container" style="width: 100px; height: 200px;" >
</div>
