<div class= "text-center mt-5 mb-5" >
<h1><%= @game.name %> Statistics  </h1>
</div>
<div>
<div class="library-games-podium">
  <h2 class="pt-4">Podium</h2>
    <div class="podium-place">
      <div class="place">
        <%= image_tag("Library_Games_Show/second.png", style: "height:100px; margin-bottom:20px; margin-top:20px;") %>
      </div>
      <div class="place">
        <%= image_tag("Library_Games_Show/first.png", style: "height:150px; margin-bottom:20px; margin-top:20px;") %>
      </div>
      <div class="place">
        <%= image_tag("Library_Games_Show/third.png", style: "height:50px; margin-bottom:20px; margin-top:20px;") %>
      </div>
    </div>
  </div>
  <div class="library-games-stats">
  <h2 class="pt-4">My statistics</h2>
    <div class="statistics">
      <div class="statistics-picto">

        <div class ="statistic-item">
          <%= image_tag("Library_Games_Show/total-duration.png", style: "height:100px; margin-bottom:20px; margin-top:20px;") %>
          <p >Total duration of the game session</p>
        </div>

        <div class ="statistic-item">
          <%= image_tag("Library_Games_Show/average-duration.png", style: "height:100px; margin-bottom:20px; margin-top:20px;") %>
          <p class="statistic-title">Average game session time</p>
        </div>

        <div class ="statistic-item">
          <%= image_tag("Library_Games_Show/winner.png", style: "height:100px; margin-bottom:20px; margin-top:20px;") %>
          <p >Victories</p>
        </div>

        <div class ="statistic-item">
          <%= image_tag("Library_Games_Show/game-sessions-month.png", style: "height:100px; margin-bottom:20px; margin-top:20px;") %>
          <p class="statistic-title"> Games sessions in the month</p>
        </div>

        <div class ="statistic-item">
          <%= image_tag("Library_Games_Show/game-sessions-year.png", style: "height:100px; margin-bottom:20px; margin-top:20px;") %>
          <p class="statistic-title">Total duration of the game session</p>
        </div>
      </div>
    </div>
  </div>
</div>


<h1 class= "text-center mt-5 mb-5">History of my game sessions</h1>

<div>
  <% @game_sessions.each do |game_session| %>
  <div class= "container mt-5">
    <div class="stat-head">
      <div>
        <h5><%= game_session.date %></h5>
      </div>
      <div>
        <% game_session.game_session_players.each do |game_session_player| %>
          <div>
            <%= game_session_player.username %>
          </div>
        <% end %>
      </div>
      <div>
        <h5><%= game_session.duration %></h5>
      </div>
    </div>
  <div>
    <% game_session.game_session_players.each do |game_session_player| %>
      <ul>
        <li>
          <%= game_session_player.winner %>
          <%= game_session_player.username  %>
          <%= game_session_player.score  %>
        </li>
      </ul>
    <% end %>
    <%= game_session.comment %>
  </div>
 </div>
 </div>
  <% end %>
</div>
<div class= "container" style="width: 100px; height: 200px;" >
</div>
