
<div class="hero">
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active carousel-height text-center">
        <%= image_tag("Homepage/home-1.png", class: "d-block slider-image", alt: "First slide") %>
        <h2 class="mb-4">Try to create your own games library for a better life ! </h2>
        <%= link_to "CREATE MY GAMES LIBRARY", new_user_session_path, class: "btn-primary btn-carroussel" %>
      </div>
      <div class="carousel-item text-center">
        <%= image_tag("Homepage/home-3.png", class: "d-block w-60 slider-image", alt: "Second slide") %>
        <h2 class="mb-4">Find the ideal board game for your party ! </h2>
        <%= link_to "FIND A GAME", games_path, class: "btn-primary btn-carroussel" %>
      </div>
      <div class="carousel-item text-center">
        <%= image_tag("Homepage/home-2.png", class: "d-block w-60 slider-image", alt: "Second slide") %>
        <h2 class="mb-4">Register all your games sessions in one place ! </h2>
        <%= link_to "CREATE MY GAMES LIBRARY", new_user_session_path, class: "btn-primary btn-carroussel" %>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
 </div>

<div class="blob-left">
  <%= image_tag("Homepage/blobhome1.png") %>
</div>
<div class="blob-right">
  <%= image_tag("Homepage/blolbhome2.png") %>
</div>
<div class="container">

  <div class="features">
    <h2>How can we help you ?</h2>
    <div class="home-features">

      <div class="feature">
        <%= image_tag("Homepage/save.png", style: "height:200px;margin-bottom:20px;") %>
        <p>You can <span class="highlight"> save all your game sessions </span>in
        infinite games for all your games. Even those that do not belong to you.  </p>
      </div>

      <div class="feature">
        <%= image_tag("Homepage/quest.png", style: "height:200px; margin-bottom:20px;") %>
        <p>You can <span class="highlight">find the ideal board game for your party </span>in your
        games library, in your friends ones or in the infinite games library.</p>
      </div>

      <div class="feature">
        <%= image_tag("Homepage/stat.png", style: "height:200px;margin-bottom:20px;") %>
        <p>You can <span class="highlight"> see your game session statistics </span>for each game you have played.
        You will know who is the best to play, how many games you play in the year, ...  </p>
      </div>
    </div>
  </div>
</div>
<div class="search">
  <div class="search-title">
    <%= image_tag("dice-search.png") %>
    <h2>Find your ideal board game !</h2>
    <%= image_tag("dice-search.png") %>
  </div>
  <%= render "shared/search" %>
</div>
<div class="games-month">
  <div class="title-games-month">
    <h2 >Infinite Games of the month</h2>
  </div>
  <div class="cards">
    <% @games.each do |game| %>
      <%= link_to game_path(game), class: "card-game-linked" do %>
      <div class= "card">
        <div class= "blob ">
          <img class="image-card align-center" src= <%= image_path game.image_url %> >
        </div>
        <div class="text-center">
          <div class="home-stars">
            <p class="game_show_rating_card"><%= sanitize '<i class="fas fa-star fa-xs text-info""></i>' * game.rating_general %><%= sanitize '<i class="fas fa-star fa-xs"></i>' * (5 - game.rating_general) %> </p>
          </div>
          <h3><%= game.name %></h3>
          <div class="home-categories">
            <p>  <% nb_categories = game.categories.count < 2 ? game.categories.count : 2 %>
            <% game.categories.first(nb_categories - 1).each do |category| %>
              <%= category.name %> •
            <% end %>
            <%= game.categories[nb_categories - 1].name %></p>
          </div>


        </div>
      </div>
      <% end %>
    <% end %>
  </div>
  <%= link_to "SEE ALL THE BOARD GAMES", games_path, class: "btn-primary game-month" %>
</div>
