
<div class="hero">
  <h1>Create your own games library <br>to  manage your games </h1>
  <h3>Managing your games has never been so easy.<br>
  Try our games library manager and you won't be able to do without it !</h3>
  <%= link_to "I CREATE MY GAMES LIBRARY", new_user_session_path, class: "btn-primary" %>
</div>
<div class="blob-left">
  <%= image_tag("Homepage/blobhome1.png") %>
</div>
<div class="blob-right">
  <%= image_tag("Homepage/blolbhome2.png") %>
</div>
<div class="container">

  <div class="features">
    <h2>How can we help you ?</h2>
    <div class="home-features">

      <div class="feature">
        <%= image_tag("Homepage/save.png", style: "height:200px;margin-bottom:20px;") %>
        <p>You can <span class="highlight"> save all your your game sessions </span>in
        infinite games for all your games. Even even those that do not belong to you.  </p>
      </div>

      <div class="feature">
        <%= image_tag("Homepage/quest.png", style: "height:200px; margin-bottom:20px;") %>
        <p>You can <span class="highlight">find the ideal board game for your party </span>in your
        library games, in that of your friends or in the infinite games library.</p>
      </div>

      <div class="feature">
        <%= image_tag("Homepage/stat.png", style: "height:200px;margin-bottom:20px;") %>
        <p>You can <span class="highlight"> see your session game statistics </span>for each game you have played.
        You will know who is the best to play, how many games you play in the year, ...  </p>
      </div>
    </div>
  </div>
</div>
<div class="search">
  <div class="search-title">
    <%= image_tag("dice-search.png") %>
    <h2>Find your ideal board game !</h2>
    <%= image_tag("dice-search.png") %>
  </div>
  <%= render "shared/search" %>
</div>
<div class="games-month">
  <div class="title-games-month">
    <h2 >Infinite Games of the month</h2>
  </div>
  <div class="cards">
    <% @games.each do |game| %>
      <div class= "card">
        <div class= "blob ">
          <img class="image-card align-center" src= <%= image_path game.image_url %> >
        </div>
        <div class="text-center">
          <p><%= sanitize '<i class="fas fa-star text-info"></i>' * game.rating_general %> <%= sanitize '<i class="fas fa-star"></i>' * (5 - game.rating_general) %> </p>
          <h3><%= game.name %></h3>
        </div>
      </div>
    <% end %>
  </div>
  <%= link_to "SEE ALL THE BOARD GAMES", games_path, class: "btn-primary game-month" %>
</div>
