<div class="blob-left-games">
  <%= image_tag("Games_index/blob-search-left.png") %>
</div>
<div class="blob-right-games">
  <%= image_tag("Games_index/blob-search-right.png") %>
</div>
<div class="search-page">
  <div class="search-title">
    <%= image_tag("dice-search.png") %>
    <h2>Find your ideal board game !</h2>
    <%= image_tag("dice-search.png") %>
  </div>
</div>
<%= render "shared/search" %>

<div class="cards">
  <% @games.each do |game| %>
   <%= link_to game_path(game), class:"card-game-linked" do %>
  <div class= "card">
    <div class= "blob ">
      <img class="image-card align-center" src= <%= image_path game.image_url %> >
    </div>
    <div class="text-center">
      <p><%= sanitize '<i class="fas fa-star text-info"></i>' * game.rating_general %> <%= sanitize '<i class="fas fa-star"></i>' * (5 - game.rating_general) %> </p>
      <h3><%= game.name %></h3>
    </div>
  </div>
  <% end %>
  <% end %>
</div>
