<div class="game_presentation">
  <div class="blob-left-show">
    <%= image_tag("Game_Show/blob_show_left.svg") %>
  </div>
  <div class="blob-right-show">
    <%= image_tag("Game_Show/blob_show_right.svg") %>
  </div>
  <div class="blob_show"><%= image_tag @game.image_url %></div>
  <div class="main_infos">
    <div class="colored_infos">
      <% if @game.min_players == @game.max_players %>
        <div class="colored_info1"><i class="fas fa-users"></i> <%= "#{@game.max_players} PLAYERS" %></div>
      <% else %>
        <div class="colored_info1"><i class="fas fa-users"></i> <%= "#{@game.min_players} TO #{@game.max_players} PLAYERS" %></div>
      <% end %>
      <div class="colored_info2"><i class="fas fa-user"></i> <%= "#{@game.min_age} YO +" %></div>
      <div class="colored_info3"><i class="far fa-clock"></i> <%= "#{@game.min_playtime}\' - #{@game.max_playtime}\'" %></div>
    </div>
    <div class="game_show_rating mt-3"><%= sanitize '<i class="fas fa-star text-info"></i>' * @game.rating_general %><%= sanitize '<i class="fas fa-star"></i>' * (5 - @game.rating_general) %> <%= @game.reviews.count %> reviews</div>
    <div>
      <h1 class="mt-3"><%= @game.name %></h1>
      <% if @game.mechanics != [] %>
        <p class="game_mec_details">
        <strong>Mechanics&nbsp;&nbsp; </strong>
          <% nb_mechanics = @game.mechanics.count < 3 ? @game.mechanics.count : 3 %>
          <% @game.mechanics.first(nb_mechanics - 1).each do |mechanic| %>
            <%= mechanic.name %> •
          <% end %>
          <%= @game.mechanics[nb_mechanics - 1].name %>
        </p>
      <% end %>
      <% if @game.categories != [] %>
        <p class="game_cat_details">
        <strong>Categories&nbsp;&nbsp; </strong>
          <% nb_categories = @game.categories.count < 3 ? @game.categories.count : 3 %>
          <% @game.categories.first(nb_categories - 1).each do |category| %>
            <%= category.name %> •
          <% end %>
          <%= @game.categories[nb_categories - 1].name %>
        </p>
      <% end %>
      <p class="game-desc"><%= sanitize (game_short_description(@game)) %></p>

      <% if user_signed_in? && current_user.library_games.where("game_id=#{@game.id}") != [] %>
        <em>You already have this game.</em>
      <% else %>
        <%= link_to  '+ ADD TO MY GAMES LIBRARY', game_library_games_path(@game), method: :post, class: "btn-primary"%>
      <% end %>
    </div>
  </div>
</div>

<div class="game-infos-background">
  <div class="left_infos">
    <h2>Description</h2>
    <p class="game-desc"><%= sanitize @game.description %></p>
  </div>
  <div class="right_infos">
    <h2>More information</h2>
    <div>
      <p class="font-weight-bold subinfos mb-2">Published by</p>
      <p class="mb-3"><%= @game.editor %></p>
      <p class="font-weight-bold subinfos mb-2">Created by</p>
      <p ><%= @game.creators %></p>
    </div>
  </div>
</div>

<div class="reviews-background">
  <h2 class="pt-3 mb-2">Reviews of Infinite Games Community</h2>
  <div class="cards-reviews">
    <% @game.reviews.first(3).each do |review| %>
      <div class="card-review p-2 d-flex">
        <%= image_tag review.user.avatar_url, class: "avatar-review m-2" %>
        <div class="review_infos d-flex justify-content-between">
          <div class="left-review">
            <p class="username-review"><%= review.user.username %></p>
            <p class="text-review"><%= review.text %></p>
          </div>
          <div class="right-review">
            <p class="rating-review"><%= sanitize '<i class="fas fa-star text-info"></i>' * review.rating %><%= sanitize '<i class="fas fa-star"></i>' * (5 - review.rating) %></p>
            <p class="date-review">Review left on <%= review.created_at.strftime("%d.%m.%Y") %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="btn-primary m-auto">VIEW ALL REVIEWS</div>
</div>
