
<div class="index-page">
  <div class="vertical-navbar">
    <%= link_to library_games_path, class: "card-game-linked" do %>
      <%= image_tag("vertical-navbar/my-ludo-icon.svg", :class => "navbar-icon-1") %>
    <% end %>

    <%= link_to search_path, class: "nabar-link" do %>
      <%= image_tag("vertical-navbar/search-icon.svg", :class => "navbar-icon-2") %>
    <% end %>
    <%= link_to search_path, class: "nabar-link" do %>
      <%= image_tag("vertical-navbar/game-session-icon.svg", :class => "navbar-icon-3") %>
    <% end %>

    <%= link_to search_path, class: "nabar-link" do %>
      <%= image_tag("vertical-navbar/friends.svg", :class => "navbar-icon-4") %>
    <% end %>
  </div>
  <div class="library-index">
    <div class="search-page">
      <div class="search-title">
        <%= image_tag("dice-search.png") %>
        <h2>The game library of <%= current_user.username %> </h2>
        <%= image_tag("dice-search.png") %>
      </div>
    </div>

    <div class="cards">
      <% @games.each do |library_game| %>
        <%= link_to library_game_path(library_game), class: "card-game-linked" do %>
          <div class= "card">
            <% if library_game.borrowed == false %>
            <div class= "blob">
              <img class="image-card align-center" src= <%= image_path library_game.game.image_url %> >
            </div>
            <% else %>
              <div class= "blob-grey">
              <img class="image-card align-center" src= <%= image_path library_game.game.image_url %> >
            </div>
            <% end %>
            <div class="text-center">
              <p><%= sanitize '<i class="fas fa-star text-info"></i>' * library_game.game.rating_general %> <%= sanitize '<i class="fas fa-star"></i>' * (5 - library_game.game.rating_general) %> </p>
              <h3><%= library_game.game.name %></h3>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
