<div class="game_presentation">
  <div class="blob-left-show">
    <%= image_tag("Game_Show/blob_show_left.svg") %>
  </div>
  <div class="blob-right-show">
    <%= image_tag("Game_Show/blob_show_right.svg") %>
  </div>
  <div class="blob_show"><%= image_tag @game.game.image_url %></div>
  <div class="main_infos">
    <div class="colored_infos">
      <% if @game.game.min_players == @game.game.max_players %>
        <div class="colored_info1"><i class="fas fa-users"></i> <%= "#{@game.game.max_players} PLAYERS" %></div>
      <% else %>
        <div class="colored_info1"><i class="fas fa-users"></i> <%= "#{@game.game.min_players} TO #{@game.game.max_players} PLAYERS" %></div>
      <% end %>
      <div class="colored_info2"><i class="fas fa-user"></i> <%= "#{@game.game.min_age} YO +" %></div>
      <div class="colored_info3"><i class="far fa-clock"></i> <%= "#{@game.game.min_playtime}\' - #{@game.game.max_playtime}\'" %></div>
    </div>
    <div class="games_show_rating mt-3"><%= sanitize '<i class="fas fa-star text-info"></i>' * @game.game.rating_general %><%= sanitize '<i class="fas fa-star"></i>' * (5 - @game.game.rating_general) %> <%= @game.game.reviews.count %> reviews</div>
    <div>
      <h1 class="mt-3"><%= @game.game.name %></h1>
      <p class="games_mec_details">
      <strong>Mechanics: </strong>
        <% nb_mechanics = @game.game.mechanics.count < 3 ? @game.game.mechanics.count : 3 %>
        <% @game.game.mechanics.first(nb_mechanics - 1).each do |mechanic| %>
          <%= mechanic.name %> •
        <% end %>
        <%= @game.game.mechanics[nb_mechanics - 1].name %>
      </p>
      <p><%= sanitize @game_short_desc %></p>
      <p class="games_cat_details">
      <strong>Categories: </strong>
        <% nb_categories = @game.game.categories.count < 3 ? @game.game.categories.count : 3 %>
        <% @game.game.categories.first(nb_categories - 1).each do |category| %>
          <%= category.name %> •
        <% end %>
        <%= @game.game.categories[nb_categories - 1].name %>
      </p>
      <%= link_to "+ ADD TO MY GAMES LIBRARY", games_path, class: "btn-primary" %>
    </div>
  </div>
</div>
<div class="library-games-podium">
<h2>Podium</h2>

  <% if @user_review.present? %>
      <div><div class="reviews">
      <p class="mb-0">My opinion :</p>
          <div class="games_show_rating "><%= sanitize '<i class="fas fa-star text-info"></i>' * @user_review.rating %><%= sanitize '<i class="fas fa-star"></i>' * 5 - @user_review.rating %> </div>
      </div>
        <p class="global-opinion">Global opinion : <%= @average_rating.truncate(1) %> (<%= @game.game.reviews.count %> reviews)</p>
    </div>
  <% else %>
    <div>
      <button type="button" class="btn-primary" data-toggle="modal" data-target="#exampleModal">
        I GIVE MY OPINION
      </button>
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="exampleModalLabel">I give my opinion</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
              <%= simple_form_for [@game.game, @review] do |f| %>
                <div class="modal-body">
                  <%= f.input :text, as: :text, label: "My opinion" %>
                  <%= f.input :rating, as: :hidden %>
                  <div class="my-3">
                    <% 5.times do |index| %>
                      <i id="<%= index + 1 %>" class="review-rating far fa-star truc"></i>
                    <% end %>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="submit" class=" btn-primary">SAVES CHANGES</button>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class="library-games-stats">
  <h2>My statistics</h2>
    <div>
    </div>
  <%= link_to "SEE ALL MY STATISTICS", "#", class: "btn-primary" %>
</div>
